create database [BFM_GROUP] 
go
USE [BFM_GROUP]
GO
/****** Object:  Table [dbo].[ADDRESS]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESS](
	[ID] [int] NOT NULL,
	[addressTypeID] [int] NOT NULL,
	[districtID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ADDRESSTYPES]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADDRESSTYPES](
	[AddressTypeID] [int] NOT NULL,
	[Types] [int] NOT NULL,
	[GardenType] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AddressTypes] PRIMARY KEY CLUSTERED 
(
	[AddressTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CITIES]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CITIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[CITY_NAME] [nvarchar](max) NOT NULL,
	[RegionID] [int] NULL,
 CONSTRAINT [PK_CITIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CLIENTS]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLIENTS](
	[ClientIDNumber] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Clients] PRIMARY KEY CLUSTERED 
(
	[ClientIDNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DISTRICT]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISTRICT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DISTRICT_NAME] [nvarchar](max) NULL,
	[il] [int] NOT NULL,
 CONSTRAINT [PK_DISTRICT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEES]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEES](
	[EmployeeId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Surname] [nvarchar](max) NOT NULL,
	[Gender] [nvarchar](max) NOT NULL,
	[HireSince] [date] NOT NULL,
	[Salary] [money] NOT NULL,
 CONSTRAINT [PK_EMPLOYEES] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERDETAILS]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERDETAILS](
	[OrderID] [int] NOT NULL,
	[ProductID] [int] NOT NULL,
	[SellerID] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[FinishDate] [date] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ORDERS]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ORDERS](
	[OrderID] [int] NOT NULL,
	[ClientID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[GardenID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PLANT]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PLANT](
	[TypeID] [int] NOT NULL,
	[PlantType] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PLANT] PRIMARY KEY CLUSTERED 
(
	[TypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGIONS]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGIONS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[REGION_NAME] [nvarchar](max) NULL,
 CONSTRAINT [PK_REGIONS] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SOILTYPES]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOILTYPES](
	[AddressTypeID] [int] NOT NULL,
	[Types] [nvarchar](max) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[STOCK]    Script Date: 2/12/2022 11:28:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STOCK](
	[ID] [int] NOT NULL,
	[TypeID] [int] NOT NULL,
	[Stock] [int] NOT NULL,
 CONSTRAINT [PK_Stock] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CITIES] ON 

INSERT [dbo].[CITIES] ([ID], [CITY_NAME], [RegionID]) VALUES (1, N'ADANA', NULL)
INSERT [dbo].[CITIES] ([ID], [CITY_NAME], [RegionID]) VALUES (2, N'ADIYAMAN', NULL)
INSERT [dbo].[CITIES] ([ID], [CITY_NAME], [RegionID]) VALUES (3, N'AFYON', NULL)
SET IDENTITY_INSERT [dbo].[CITIES] OFF
GO
SET IDENTITY_INSERT [dbo].[DISTRICT] ON 

INSERT [dbo].[DISTRICT] ([ID], [DISTRICT_NAME], [il]) VALUES (1, N'ALADAG', 1)
INSERT [dbo].[DISTRICT] ([ID], [DISTRICT_NAME], [il]) VALUES (2, N'CEYHAN', 1)
INSERT [dbo].[DISTRICT] ([ID], [DISTRICT_NAME], [il]) VALUES (3, N'ÇUKUROVA', 1)
GO
SET IDENTITY_INSERT [dbo].[DISTRICT] OFF
GO
SET IDENTITY_INSERT [dbo].[REGIONS] ON 

INSERT [dbo].[REGIONS] ([ID], [REGION_NAME]) VALUES (1, N'KARADENİZ')
INSERT [dbo].[REGIONS] ([ID], [REGION_NAME]) VALUES (2, N'AKDENIZ')
INSERT [dbo].[REGIONS] ([ID], [REGION_NAME]) VALUES (3, N'EGE')
SET IDENTITY_INSERT [dbo].[REGIONS] OFF
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_Address_AddressTypes] FOREIGN KEY([addressTypeID])
REFERENCES [dbo].[ADDRESSTYPES] ([AddressTypeID])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_Address_AddressTypes]
GO
ALTER TABLE [dbo].[ADDRESS]  WITH CHECK ADD  CONSTRAINT [FK_Address_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[CLIENTS] ([ClientIDNumber])
GO
ALTER TABLE [dbo].[ADDRESS] CHECK CONSTRAINT [FK_Address_Clients]
GO
ALTER TABLE [dbo].[CITIES]  WITH CHECK ADD  CONSTRAINT [FK_CITIES_REGIONS] FOREIGN KEY([RegionID])
REFERENCES [dbo].[REGIONS] ([ID])
GO
ALTER TABLE [dbo].[CITIES] CHECK CONSTRAINT [FK_CITIES_REGIONS]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_Clients] FOREIGN KEY([ClientID])
REFERENCES [dbo].[CLIENTS] ([ClientIDNumber])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_Clients]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_EMPLOYEES] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[EMPLOYEES] ([EmployeeId])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_EMPLOYEES]
GO
ALTER TABLE [dbo].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ORDERS_OrderDetails] FOREIGN KEY([OrderID])
REFERENCES [dbo].[ORDERDETAILS] ([OrderID])
GO
ALTER TABLE [dbo].[ORDERS] CHECK CONSTRAINT [FK_ORDERS_OrderDetails]
GO
ALTER TABLE [dbo].[SOILTYPES]  WITH CHECK ADD  CONSTRAINT [FK_SoilTypes_AddressTypes] FOREIGN KEY([AddressTypeID])
REFERENCES [dbo].[ADDRESSTYPES] ([AddressTypeID])
GO
ALTER TABLE [dbo].[SOILTYPES] CHECK CONSTRAINT [FK_SoilTypes_AddressTypes]
GO
ALTER TABLE [dbo].[STOCK]  WITH CHECK ADD  CONSTRAINT [FK_Stock_PLANT] FOREIGN KEY([TypeID])
REFERENCES [dbo].[PLANT] ([TypeID])
GO
ALTER TABLE [dbo].[STOCK] CHECK CONSTRAINT [FK_Stock_PLANT]
GO
